[user]
	name = yamause
	email = yamause.devnezumi@gmail.com

[init]
	defaultbranch = main

[column]
	ui = auto

[branch]
	sort = committerdate

[tag]
	sort = version:refname

[diff]
	algorithm = histogram
	colormoved = plain
	tool = vscode

[push]
	autosetupremote = true

[help]
	autocorrect = prompt

[credential "https://github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential

[credential "https://gist.github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential

[includeIf "gitdir:~/Dev/work/"]
	path = ~/.gitconfig_work

[includeIf "gitdir:~/Dev/private/"]
	path = ~/.gitconfig_private
[core]
	editor = code --wait
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
[merge]
	tool = vscode
[mergetool "vscode"]
	cmd = "code --wait --merge    "
